extends layout

block content
  main
    h1.logo SimpBukSto
    input.gcli(autofocus placeholder="enter command here")
    aside.help
      ul
        li
          p: a(href="#") search
          p [general keywords] [@author] [_title] [#category]
        li
          p create a new book
          p <a href="#">:new</a> @author _title #category
