extends layout

block content
  main
    h1.logo SimpBukSto
    form.cli: input(type="text" name="cli" autofocus placeholder=":new _Title of Book @Author1 #category1 #category2 @Author2")
    aside.help
      ul
        li
          p: a(href="#") search
          p [general keywords] [@author] [_title] [#category]
        li
          p create a new book
          p <a href="#">:new</a> @author _title #category
