extends layout

block content
  main
    h1.logo SimpBukSto
    input.gcli(autofocus placeholder="enter command here")
    aside.help
      ul
        li
          p: a(href="#") search for books
          p [general keywords] [_title] [@author] [#category]
        li
          p create a new book
          p <a href="#">:new</a> _title @author #category
